.main {
  /* border: 1px solid black;
  width: 400px; */

  overflow: hidden;
  margin: 100px;
  /* display: inline-block; */
}
div {
  display: inline-block;
  border: 2px solid black;
}

img {
  width: 300px;
  height: auto;
  padding: 30px;
}
/* .main:hover {
  transition:
    transform 2s,
    ease-in;
  transform: scale(1.3);
  button {
    background-color: rgb(162, 189, 189);
    display: flex;
  }

} */
/* .main:hover img{
  transition:
    transform 2s,
    ease-in;
  transform: scale(1.3);
  
} */

.one {
  display: flex;
  justify-content: center;
}
p {
  padding-left: 25px;
}
button {
  background-color: yellow;
}
